$clr-violet: #5964E0;
$clr-violet-light: #939BF4;
$clr-blue-dark: #19202D;
$clr-midnight: #121721;
$clr-white: #ffffff;
$clr-gray-light: #F4F6F8;
$clr-gray: #9DAEC2;
$clr-gray-dark: #6e8098;
$clr-gray-darkest: rgba(110, 128, 152, 0.2);

$page-width: 1440px;